#dependencies
node_modules/
frontend/node_modules/
backend/venv
backend/__pycache__/
backend/.Python

# Environment variables
backend/.env
frontend/.env

# Build files
/frontend/build/

# Misc
.DS_Store
